/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  margin-bottom: 1rem;
}

li a {
  color: #5a1c1c;
  transition: 0.2s linear;
}

li a:hover {
  font-size: 2.2rem;
}




/* Nav Styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
  width: 100%;
  overflow: hidden;
  
}

.nav__img {
  width: 5rem;
  border-radius: 50%;
}

.nav__menu {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

/* Mobile Menu */

.menu-icon {
  display: none;
}

.mobile__menu {
  position: absolute;
  width: 350px;
  right: -50px;
  padding: 50px;
  padding-top: 95px;
  background: #ededed;
  list-style-type: none;
  font-size: 2rem;
  font-weight: bold;

  -webkit-font-smoothing: antialiased;  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.mobile__menu li {
  margin-bottom: 3rem;
}

.show-menu {
  transform: translateX(-10%);
}


/* Blog Nav */
.blog__nav {
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  background-color: #f1f1f1;
}

/* Main */

#main {
  background-color: #E8F8C1;
  position: relative;
  z-index: -1;
}

#main > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
}

.img__container {
  flex-grow: 1;
}

.img__container > img {
  width: 100%;
}

.heading {
  margin-bottom: 2.5rem;
}

.paragraph {
  width: 70%;
  line-height: 2.5rem;
}

/* Landing Section */
.landing {
  padding: 10rem 0 10rem 10rem;
}

/* Hometown */
.hometown {
  background-color: #EEE5BF;
  padding: 10rem 0 10rem 10rem; 
}

/* Footer */
#footer {
  background-color: #232323;
  padding: 5rem 10rem;
  color: #fff;
} */

/* Blog Styles */


.blog__container p {
  width: 70%;
  line-height: 2.5rem;
}

.blog__h2 {
  margin: 3rem;
}

.blog__nav a:hover {
  font-size: 3rem;
}

.blog__container, .paragraph  {
  padding: 2.5rem;
}

.blog__container p {
  margin-bottom: 2rem;
}

.blog__img {
  margin: 2rem;
  width: 50%;
}

.blog__container {
  background-color: #E8E5DA;
}
@media only screen and (max-width: 800px) {
 
}

/* Functional */
.hidden {
  display: none;
}


@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
  .nav__menu {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .paragraph {
    margin-bottom: 5rem;
  }
  .blog__img {
    width: 80%;
  }
}

